<!DOCTYPE html>
<html>
  <head>
    <title>Enroco</title>
    <%= csrf_meta_tags %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <% dyn_controller = controller.controller_name %>
    <%= stylesheet_link_tag    'application', dyn_controller, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', dyn_controller, 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
      <div class="main-panel">
        <%= render 'shared/dashboard/header' %>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
